<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9 page-content">
                <div class="inner-box category-content">
                    <h2 class="title-2 uppercase">
                        <strong>
                            <i class="icon-docs"></i> Post a Free Classified
                            Ad
                        </strong>
                    </h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal"  name="addClassified" role="form" novalidate>
                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Reference No</label>
                                        <div class="col-md-8">
                                            <div ng-repeat="ref in Reference">
                                                <input type="text" class="form-control input-md" ng-model="ref.NextRefNo" ng-readonly="true" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Category</label>
                                        <div class="col-md-8">
                                            <select ng-model="CategoryID" ng-init="CategoryID='1'" class="form-control">
                                                <option ng-repeat="x in Categories" value="{{x.ID}}">{{x.CategoryTitle}}</option>
                                            </select>                                           
                                        </div>
                                    </div>                     

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ClassifiedTitle">Ad title</label>
                                        <div class="col-md-8">                                      
                                            <input id="ClassifiedTitle" name="ClassifiedTitle" placeholder="Ad title" class="form-control input-md"  ng-model="ClassifiedTitle" ng-required="true" type="text">
                                            <span class="help-block">A great title needs at least 60 characters. </span>
                                            <span class="help-block" ng-show="hasError('ClassifiedTitle', 'required')">Please enter classified title</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ClassifiedLocation">Location</label>
                                        <div class="col-md-8">
                                           <select ng-model="LocationID" ng-init="LocationID='1'" class="form-control">
                                                <option ng-repeat="x in Locations" value="{{x.ID}}">{{x.LocationDescription}} {{x.Pincode}}</option>
                                            </select> 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ClassifiedDescription">Describe ad </label>
                                        <div class="col-md-8">                                            
                                            <textarea class="form-control" id="ClassifiedDescription" name="ClassifiedDescription" ng-model="ClassifiedDescription" ng-required="true" >Describe what makes your ad unique</textarea>
                                            <span class="help-block" ng-show="hasError('ClassifiedDescription', 'required')">Please enter classified description.</span>
                                        </div>
                                    </div>     
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ClassifiedPrice">Price </label>
                                        <div class="col-md-8">                                         
                                            <input class="form-control input-md" id="Price" name="Price" ng-model="Price" type="number" />                                     
                                        </div>
                                    </div>      

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ContactDetails">Contact Details</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" id="ContactDetails" name="ContactDetails" ng-model="ContactDetails"></textarea>
                                        </div>
                                    </div>   

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Notes">Notes</label>
                                        <div class="col-md-8">
                                             <textarea class="form-control" id="Notes" name="Notes" ng-model="Notes"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="IsActive">Is Active</label>
                                        <div class="col-md-8">
                                            <input type="checkbox" ng-model="IsActive" ng-model-options="{allowInvalid: true}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Active Between</label>
                                        <div>
                                            <label class="control-label col-md-1">From</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-md datepic" ng-model="FromDate">  
                                            </div>                                         
                                        </div>
                                        <div>
                                            <label class="control-label col-md-1">To</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control input-md datepic" ng-model="ToDate">
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="textarea"> Picture </label>
                                        <div class="col-md-8">
                                            <div class="mb10">
                                                <input type="file" class="file"  accept="image/*" id="imgInp" onchange="angular.element(this).scope().showMyImage(this)" data-preview-file-type="text" />
                                                <img id="img" src="#" alt="your image" />
                                                <input type="text" ng-model="ClassfiedImage" ng-hide="true" />
                                            </div>
                                         
                                        </div>
                                    </div>                              
                                   
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8">
                                            <a class="btn btn-success btn-lg" ng-click="addRule()">Save</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 reg-sidebar">
                <div class="reg-sidebar-inner text-center">
                    <div class="promo-text-box">
                        <i class=" icon-picture fa fa-4x icon-color-1"></i>
                        <h3><strong>Post a Free Classified</strong></h3>
                        <p>
                            Post your free online classified ads with us. 
                        </p>
                    </div>
                    <div class="panel sidebar-panel">
                        <div class="panel-heading uppercase">
                            <small><strong>How to sell quickly?</strong></small>
                        </div>
                        <div class="panel-content">
                            <div class="panel-body text-left">
                                <ul class="list-check">
                                    <li> Use a brief title and description of the item</li>
                                    <li> Make sure you post in the correct category</li>
                                    <li> Add nice photos to your ad</li>                                    
                                    <li> Check the item before publish</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script>
      $(function () {
          $(".datepic").datepicker();
      });
</script>
