


    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 login-box">
                    <div class="panel panel-default">
                        <div class="panel-intro text-center">
                            <h2 class="logo-title">

                                <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> VARIOUS<span>CLASSIFIEDS </span>
                            </h2>
                        </div>
                        <div class="panel-body">
                            <form name="loginForm" role="form" novalidate>
                                <div class="form-group">
                                    <label for="UserName" class="control-label">Username:</label>
                                    <div class="input-icon">
                                        <i class="icon-user fa"></i>
                                        <input id="UserName" type="text" placeholder="Username" class="form-control" ng-model="UserName" ng-click="blurUpdate()" name="UserName" ng-required="true" >
                                        <span class="help-block" ng-show="hasError('UserName', 'required')">Please enter the username</span>                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Password" class="control-label">Password:</label>
                                    <div class="input-icon">
                                        <i class="icon-lock fa"></i>
                                        <input type="password" class="form-control" placeholder="Password" ng-model="Password" ng-click="blurUpdate()" name="Password" id="Password"  ng-required="true"  />
                                        <span class="help-block" ng-show="hasError('Password', 'required')">Please enter the password</span>      
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-primary  btn-block" ng-click="login()">Login</a><span ng-show="!submessage" class="help-block">{{ message }}. </span>
                                </div>
                            </form>
                        </div>                       
                    </div>
                    <div class="login-box-btm text-center">
                        <p>
                            Don't have an account? <br>
                            <a href="#/adduser/"><strong>Sign Up !</strong> </a>                            
                            <a href="#/adduser/">Create new user</a>      
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

