USE [master]
GO
/****** Object:  Database [VariousClassifiedDB]    Script Date: 4/14/2017 1:11:15 PM ******/
CREATE DATABASE [VariousClassifiedDB] ON  PRIMARY 
( NAME = N'VariousClassifiedDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\VariousClassifiedDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VariousClassifiedDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\VariousClassifiedDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VariousClassifiedDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VariousClassifiedDB]
GO
USE [VariousClassifiedDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/14/2017 1:11:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryTitle] [varchar](50) NULL,
	[CategoryDescription] [varchar](max) NULL,
	[CategoryImage] [varchar](max) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classified]    Script Date: 4/14/2017 1:11:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classified](
	[ClassifiedID] [int] IDENTITY(1,1) NOT NULL,
	[ClassifiedTitle] [varchar](50) NULL,
	[ClassifiedDescription] [varchar](max) NULL,
	[CategoryID] [int] NULL,
	[ClassfiedImage] [varchar](max) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ContactDetails] [varchar](max) NULL,
	[Notes] [varchar](max) NULL,
	[RefNo] [varchar](50) NULL,
 CONSTRAINT [PK_Classified] PRIMARY KEY CLUSTERED 
(
	[ClassifiedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reference]    Script Date: 4/14/2017 1:11:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reference](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NextRefNo] [varchar](50) NULL,
 CONSTRAINT [PK_Reference] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Classified] ON 

SET IDENTITY_INSERT [dbo].[Classified] OFF
SET IDENTITY_INSERT [dbo].[Reference] ON 

INSERT [dbo].[Reference] ([Id], [NextRefNo]) VALUES (1, N'REF0000000042')
SET IDENTITY_INSERT [dbo].[Reference] OFF
ALTER TABLE [dbo].[Classified]  WITH CHECK ADD  CONSTRAINT [FK_Classified_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Classified] CHECK CONSTRAINT [FK_Classified_Category]
GO
USE [master]
GO
